<ul class="post-excerpt-list">
    ${data.posts.map(post => `
        <li>
            <article>
                <header>
                    <a href="${post.slug}"><h3>${post.data.title}</h3></a>
                    <time datetime="${post.data.date}">${helpers.formatDate(post.data.date)}</time>
                </header>

                <div>${post.excerptHtml}</div>

                <footer>
                    <a href="${post.slug}">Read more</a>
                </footer>
            </article>
        </li>
    `).join('')}
</ul>
