<div class="bio content-md mx-auto my-auto">
    <div class="bio-image-container">
        <img
            class="max-w-full smooth-edges"
            src="/images/me.png"
            alt="A photo of Brian Douglas"
        />
    </div>
    <div class="bio-text-container">
        <p>
            Hi, I'm Brian. Welcome to my blog. Here I write about the things
            I've learned whilst creating stuff on the web.
        </p>
        <p>
            I hope that you will find something noteworthy here, that will pique
            your interest, and that you will visit again soon.
        </p>
    </div>
</div>
