<div class="container">
    <ul class="reset-list post-list">
        <% posts.forEach(post => { %>
            <li>
                <%- include('post-list-item', { post }); %>
            </li>
        <% }) %>
    </ul>
</div>
