<footer class="site-footer gray-bg">
    <div class="content-md mx-auto px-sm">
        <p class="my-auto py-sm">
            Since <%= helpers.formatDate('04/08/2023') %>. All words by Brian
            Douglas.
        </p>
    </div>
</footer>
