<header class="site-header">
    <nav class="container">
        <ul class="reset-list">
            <li><a href="/" class="reset-a"><h1 class="m-0">Brian Douglas</h1></a></li>
        </ul>
    </nav>
</header>